<div class="container-dialog" *ngIf="data.type !='info'">
  <div class="container-icon">
    <img [src]="'../../../assets/img/' + img" alt="">
  </div>
  <div class="container-description">
    <div class="container-text">
      <h2 color="primary">{{data.title}}</h2>
      <h3>{{data.text}}</h3>
    </div>
    <div class="container-buttons">
      <button mat-raised-button color="primary" (click)="close()" *ngIf="!data.textButtonTwo">
        {{data.textButton}}
      </button>
      <button mat-stroked-button color="primary" *ngIf="data.textButtonTwo" [mat-dialog-close]="{action:'cancel'}">
        {{data.textButton}}
      </button>
      <button mat-raised-button color="primary" *ngIf="data.textButtonTwo" [mat-dialog-close]="{action:'accept'}">
        {{data.textButtonTwo}}
      </button>
    </div>
  </div>
</div>
<div class="container-dialog-info" *ngIf="data.type ==='info'">
  <div style="display: flex; justify-content: flex-end;">
    <button mat-mini-fab color="primary" *ngIf="data.textButtonTwo" (click)="close()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <h1>{{data.title}}</h1>
  <h2>de ${{data.profit}} a ${{data.profit2}} </h2>
  <h3>ETF</h3>
  <p>Ofrecemos una amplia gama de ETF que cubren diferentes sectores y ofrecen oportunidades de crecimiento y
    diversificación. </p>

  <h3>Acciones</h3>
  <p>VbtTridentTrust realiza inversiones en plataformas en todo el mundo, aprovechando la oportunidad de acceso a los
    mercados globales. </p>

  <h3>Bienes raíces</h3>
  <p>VbtTridentTrust realiza inversiones en bienes raíces, una opción popular para la diversificación.</p>

  <h3>VbtTridentTrust</h3>
  <p>Aprovecha las oportunidades de inversión en propiedades comerciales y residenciales.</p>

  <h3>Criptodivisas</h3>
  <p>Nuestros clientes pueden comprar, vender, transferir las principales criptodivisas con un costo inferior a todas
    las plataformas de Exchange actuales. </p>

  <h3>Beneficio mensual</h3>
  <p>{{data.value}}%, bloqueo de fondos por 1 año. Primer retiro disponible; después de 1 mes es posible comenzar con
    retiros de los intereses devengados.</p>

  <div class="container-terms">
    <a target="_blank"
      href="../../../assets/img/TERMINOSYCONDICIONESUSUARIOSJULIO2025.pdf">Términos
      y condiciones</a>
    <a target="_blank" href="../../../assets/img/USERAGREEMENTJULY2025.pdf">Terms
      and
      Conditions</a>
  </div>
</div>