<div class="container-interests">
    <div class="card-container">
        <div class="title-form">
            <h1>Intereses</h1>
        </div>

        <!-- Formulario de intereses -->
        <div class="form-active">
            <form [formGroup]="formInterests">
                <div class="row justify-content-right" style="margin: 0">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-label class="label-input">Username
                        </mat-label>
                        <mat-form-field class="col-12 formOutline" appearance="outline">
                            <input matInput placeholder="Username" formControlName="username" class="inputOutline"
                                required type="text" />
                            <mat-error *ngIf="
                            formInterests
                              .get('username')
                              ?.hasError('required') &&
                            formInterests.get('username')?.touched
                          ">
                                Este campo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-label class="label-input">Número de cuenta
                        </mat-label>
                        <mat-form-field class="col-12 formOutline" appearance="outline">
                            <input matInput placeholder="Número de cuenta" formControlName="accountNumber" class="inputOutline"
                                required type="text" />
                            <mat-error *ngIf="
                            formInterests
                              .get('accountNumber')
                              ?.hasError('required') &&
                            formInterests.get('accountNumber')?.touched
                          ">
                                Este campo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-label class="label-input">Interés
                        </mat-label>
                        <mat-form-field class="col-12 formOutline" appearance="outline">
                            <input matInput placeholder="Interés" formControlName="amount" class="inputOutline"
                                required type="text" mask="separator.2" thousandSeparator="."/>
                            <mat-error *ngIf="
                            formInterests
                              .get('amount')
                              ?.hasError('required') &&
                            formInterests.get('amount')?.touched
                          ">
                                Este campo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <!-- Envio de formulario -->
                    <div class="col-12">
                        <button mat-raised-button class="col-12" color="primary" type="submit" (click)="sendForm()">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>