<div class="container-initial" style="

    display: flex;
    justify-content: center;
    min-height: 100%;
  ">
  <div class="card-divitions w-100 "
    style="border-style: none; background-color: white; padding: 20px; border-radius: 10px; margin: 20px;">
    <div class="w-100"
      style="justify-content: space-between; margin: 10px 0; display: flex; align-items: center; flex-wrap: wrap">
      <img src="../../../assets/img/LOGO PARA HEAD PNG.jpeg" alt="" style="height: 150px;">
      <button mat-raised-button class="col-12 col-sm-6 col-md-4 col-lg-2" color="primary" (click)="goLogin()"
        type="submit" style="width: auto !important; padding: 10px 50px;">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <!--button mat-raised-button class="col-12 col-sm-6 col-md-4 col-lg-2" color="primary" (click)="goLogin()"
        type="submit" style="padding: 8px 16px;">
        <mat-icon>login</mat-icon>
        Login
      </button-->
    </div>
    <div class="w-100 p-0 m-0">
      <video src="assets/img/video_landing2.mp4"  style="display: block; width: 100%; height: 600px; object-fit: cover; max-width: none;"
        autoplay muted playsinline loop preload="auto">
      </video>
    </div>
    <div style="height: 50px;"></div>
    <!-- <div class="carrousel-container mb-4">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <video #landingVideo src="../../../assets/img/video_landing.mp4"
              style="display: block; width: 100%; height: auto; max-width: 100%;" autoplay muted playsinline>
            </video>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" style="height: 100%;" type="button"
          data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="height: 100%;" type="button"
          data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div> -->
    <!-- <div class="primary-background p-3 rounded container-info" style="color: white; text-align: center;">
      <h3>VBTCUSTODY.IO es una nueva plataforma innovadora que tiene como objetivo revolucionar el mundo de las
        inversiones a través de un escenario de vanguardia que cubre ETF, acciones, bienes raíces, energía verde y
        criptodivisas. Nuestra misión es brindar a nuestros clientes soluciones de inversión todo en uno, permitiéndoles
        diversificar su cartera de manera inteligente y sostenible.</h3>
      <ul style="text-align: left;">
        <li>
          *Plataforma todo en uno*: VBTCUSTODY.IO ofrece un panel integral que permite a los inversores acceder a una
          amplia gama de opciones de inversión en un solo lugar. ETF, acciones, bienes raíces, energía verde y
          criptodivisas están a su alcance.
        </li>
        <li>
          *Seguridad y Confiabilidad*: La seguridad de los fondos de nuestros clientes es nuestra prioridad. Utilizamos
          las últimas tecnologías de cifrado e implementamos las mejores prácticas para garantizar la protección de los
          datos y activos de los inversores. Los fondos son garantizados al 100% por bancos ubicados en países con
          régimen tributario especialmente favorable a los ciudadanos y empresas no residentes, <b> manteniendo un
            secreto
            blindado sobre las informaciones de sus clientes. Nuestras cuentas son totalmente anónimas y
            garantizadas.</b>
        </li>
        <li>
          *Acceso simplificado*: VBTCUSTODY.IO está diseñado para ser fácil de usar, permitiendo a los inversores
          acceder y administrar sus inversiones de forma rápida e intuitiva. Enviar fondos, retirar fondos, trasformar
          propias divisas en pocos minutos, intercambiar fondos de inmediato entre usuarios. VBTCUSTODY te permite ser
          Dueño de tu dinero al 100%.
        </li>
        <li>
          **Oferta de Inversión** Costo 5% inicial (solo una Vez) al momento del primer pago como gastos administrativos
          sobre el importe invertido.
        </li>
      </ul>

      <h3>
        Estamos listos para guiarlo hacia un futuro financiero más sólido y sostenible. Gracias por tomarte el tiempo de
        observar nuestra presentación. Nos complace responder sus preguntas y explorar cómo VBTCUSTODY.IO puede ser
        parte de su estrategia de inversión.
      </h3>
    </div> -->
    <div class="container-plans">
      <div *ngFor="let item of items; let i = index" class="items-cards primary-background" [ngStyle]="{
        border: item.selected? '4px solid black' : 'none'
        }">
        <h2>{{item.title}}</h2>
        <h3 style="text-align: center;">Desde ${{item.profit}} hasta ${{item.profit2}}</h3>
        <div>
          <div style="display: flex; color: red; align-items: baseline;
          justify-content: space-evenly;">
            <h1 style="margin: 0 0 5px;">{{item.value}}%</h1>
            <h2 style="margin: 0 0 5px;">MENSUAL</h2>
          </div>
          <h3 style="text-align: center;">
            Rendimiento de interés mensual
          </h3>
        </div>
        <div class="container-info">
          <p>{{item.info}}
            <mat-icon (click)="disableBasicCost(item)">info</mat-icon>
          </p>
          <button mat-raised-button class="col-6 button" color="accent" type="submit" (click)="changeViewForm(item)">
            Empezamos →
          </button>
        </div>
        <div class="container-list">
          <h3>Minimo: $ {{item.profit}}</h3>
          <h3>Maximo: $ {{item.profit2}}</h3>
          <h3>Ganancia: {{item.value}}%</h3>
          <h3>Duración: 365 días</h3>
        </div>
      </div>
    </div>
    <div *ngIf="viewForm" class="container-form">
      <form #myFormUser="ngForm" [formGroup]="landingForm">
        <div class="row justify-content-right" style="margin: 0">
          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Nombre</mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <input matInput appAutofocus placeholder="Nombre" formControlName="name" type="text" required />
              <mat-error *ngIf="
                  landingForm
                    .get('name')
                    ?.hasError('required') &&
                  landingForm.get('name')?.touched
                ">
                Este campo es obligatorio
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Apellido</mat-label>
            <mat-form-field class="col-12 " appearance="outline">
              <input matInput placeholder="Apellido" formControlName="lastName" required />
              <mat-error *ngIf="
                  landingForm
                    .get('lastName')
                    ?.hasError('required') &&
                  landingForm.get('lastName')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Correo
            </mat-label>
            <mat-form-field class="col-12 " appearance="outline">
              <input matInput placeholder="Correo" formControlName="email" required />
              <mat-error *ngIf="
                  landingForm
                    .get('email')
                    ?.hasError('required') &&
                  landingForm.get('email')?.touched
                ">
                Este campo es requerido
              </mat-error>
              <mat-error *ngIf="
                  landingForm
                    .get('email')
                    ?.hasError('email') &&
                  landingForm.get('email')?.touched
                ">
                Debes escribir un correo electrónico válido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Fecha de cumpleaños</mat-label>
            <mat-form-field class="col-12 " appearance="outline">
              <input matInput placeholder="Fecha de cumpleaños" formControlName="birthDay" required
                [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="
                  landingForm
                    .get('birthDay')
                    ?.hasError('required') &&
                  landingForm.get('birthDay')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Dirección
            </mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <input matInput placeholder="Dirección" formControlName="address" required />
              <mat-error *ngIf="
                  landingForm
                    .get('address')
                    ?.hasError('required') &&
                  landingForm.get('address')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Pais
            </mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <input matInput placeholder="Pais" formControlName="country" required />
              <mat-error *ngIf="
                  landingForm
                    .get('country')
                    ?.hasError('required') &&
                  landingForm.get('country')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Ciudad
            </mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <input matInput placeholder="Ciudad" formControlName="city" required />
              <mat-error *ngIf="
                  landingForm
                    .get('city')
                    ?.hasError('required') &&
                  landingForm.get('city')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Estado/Provincia/Región
            </mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <input matInput placeholder="Estado/Provincia/Región" formControlName="region" required />
              <mat-error *ngIf="
                  landingForm
                    .get('region')
                    ?.hasError('required') &&
                  landingForm.get('region')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Código postal
            </mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <input matInput placeholder="Código postal" formControlName="postalCode" required />
              <mat-error *ngIf="
                  landingForm
                    .get('postalCode')
                    ?.hasError('required') &&
                  landingForm.get('postalCode')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Método de pago</mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <mat-label>Seleccionar</mat-label>
              <mat-select formControlName="wtp">
                <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.value">
                  {{ paymentMethod.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="landingForm.get('wtp')?.hasError('required') && landingForm.get('wtp')?.touched">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <mat-label class="label-input">Teléfono
            </mat-label>
            <mat-form-field class="col-12" appearance="outline">
              <input matInput placeholder="Teléfono" formControlName="phone" required />
              <mat-error *ngIf="
                  landingForm
                    .get('phone')
                    ?.hasError('required') &&
                  landingForm.get('phone')?.touched
                ">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="container-button-form">

            <button mat-raised-button class="col-12 col-sm-6 col-lg-4 col-sm-6 col-md-6" color="primary"
              (click)="sendForm()" type="submit">
              <mat-icon>send</mat-icon>
              Enviar
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>