<div class="container-accounting">
  <div class="card-container">
    <div class="title-form">
      <h1>Mi Cuenta</h1>
    </div>
    <div style="font-size: 16px;">
      <div style="border-bottom: 2px solid black;" class="row">
        
        <div class="col-12">
          <p><b>Código de usuario:</b> {{accountSelected?.account_number}}</p>
        </div>
        <div class="col-4">
          <p><b>Status:</b> {{accountSelected?.name_state}}</p>
        </div>
        <div class="col-4">
          <p><b>Balance:</b> {{accountSelected?.balance + ' ' + accountSelected?.account_type}}</p>
        </div>
        <div class="col-2">
          <p><b>Intereses:</b> {{accountSelected?.cupo}}</p>
        </div>
        <div class="col-3">
          <p><b>Tipo de cuenta:</b></p>
          <div *ngIf="accountForm" class="col-2">
            <form #myFormPassword="ngForm" [formGroup]="accountForm" class="row">
              <div>
                <mat-form-field class="formOutline" appearance="outline">
                  <mat-select #profile matNativeControl formControlName="account" required class="inputOutline"
                    (selectionChange)="select($event)">
                    <mat-option *ngFor="let account of balances" [value]="account">
                      {{ account?.account_type }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="
                      accountForm
                        .get('account')
                        ?.hasError('required') &&
                        accountForm.get('account')?.touched
                    ">
                    Este campo es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
        </div>

        <div class="col-7">
          <p><b>Wallet:</b> {{accountSelected?.wallet}}</p>
        </div>
      </div>

      <!-- Quitar el if para mostrar la tabla -->
      <ng-template *ngIf="false">
        <div style="margin-top: 20px;border-bottom: 2px solid black;">
          <p><b>Movimientos:</b></p>
  
          <div *ngIf="transactions.length === 0; else tablaTemplate">
            <p>No se encontraron registros.</p>
          </div>
          <ng-template #tablaTemplate>
            <table mat-table [dataSource]="transactions">
              <!-- Nombre de la fecha -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let row"> {{row.movement_date}} </td>
              </ng-container>
  
              <!-- Edad del id -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
  
              <!-- Ciudad de la descripción -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
              </ng-container>
  
              <!-- Ciudad de la valor -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let row"> {{row.value}} </td>
              </ng-container>
  
              <!-- Ciudad de la status -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.name_state}} </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
</div>