<div class="container-initial" style="
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url('../../../assets/img/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
  <div class="card-divitions row justify-content-center align-items-center w-full">
    <div class="w-100 d-flex justify-content-center mb-1">
      <img src="../../../assets/img/LOGO TRANSPARENTE 600DPI.png" alt="Logo VBT"
        style="max-width: 160px; width: 100%; height: auto; display: block;" />
    </div>
    <div class="form w-100">
      <div class="title">
        <form #myFormLogin="ngForm" [formGroup]="loginForm" *ngIf="!token">
          <div class="row justify-content-center">
            <div class="col-12">
              <mat-form-field class="col-12">
                <input class="login-input" placeholder="Usuario" formControlName="email" type="text" required />
                <mat-error *ngIf="
                  loginForm.get('email')?.hasError('required') &&
                  loginForm.get('email')?.touched
                ">
                  Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="
                  loginForm.get('email')?.hasError('email') &&
                  loginForm.get('email')?.touched
                ">
                  Debe ser tipo email
                </mat-error>
                <mat-error *ngIf="
                  loginForm.get('email')?.hasError('max') &&
                  loginForm.get('email')?.touched
                ">
                  El tamaño máximo es 60
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="col-12" style="margin-top: -35px;">
                <input class="login-input" placeholder="Password" formControlName="password" required
                  [type]="hideRegister ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hideRegister = !hideRegister"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRegister" type="button">
                  <mat-icon>{{
                    hideRegister ? "visibility_off" : "visibility"
                    }}</mat-icon>
                </button>
                <mat-error *ngIf="
                  loginForm.get('password')?.hasError('required') &&
                  loginForm.get('password')?.touched
                ">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12" style="padding: 0px 25px;">
              <mat-label role="button"
                class="text-decoration-underline w-100 mb-3 fs-6 d-flex justify-content-end text-white"
                (click)="restorePassword()">
                Olvidé mi contraseña
              </mat-label>
              <div class="row w-100 m-0">
                <button class="col-12 login-btn" color="primary" (click)="login()">
                  Enter
                </button>
              </div>
            </div>
          </div>
        </form>
        <form #myFormToken="ngForm" [formGroup]="tokenForm" *ngIf="token">
          <div class="row justify-content-center">
            <div class="col-12 container-form">
              <h2 style="font-size: 16px; color: #fff;">Token</h2>
              <mat-form-field class="col-12" style="margin-top: -30px;">
                <input appAutofocus placeholder="Token" formControlName="token" type="text" required
                  class="login-input" />
              </mat-form-field>
            </div>
            <p style="color: #fff;">Revisa tu correo</p>
            <div class="row" style="gap: 5px;">
              <button mat-raised-button class="col-12 login-btn" color="primary" (click)="sendToken()"
                style="min-width: 49%;">
                Iniciar Sesión
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>