<ngx-loading [show]="configService.loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div id="containerPages" class="container-pages">
    <router-outlet></router-outlet>
</div>
<footer style="position: fixed; bottom: 0; left: 0; right: 0; width: 100%;">
    <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; gap: 5px; background-color: white; align-items: center; width: 100%;">
        <img src="../assets/img/BANKS EU.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/BBCI.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/CAMARA DE COMERCIO.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/CONFIDUS.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/PAXFUL.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/VBT PRINCIPAL.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/TRIDENT TRUST.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/WISE.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
        <img src="../assets/img/CSX EXCHANGE.jpg" alt="" style="height: 40px; width: 100%; flex: 1 1 0; min-width: 0; object-fit: contain;">
    </div>
</footer>