/**
Pallet of colors that we will use
.alert {
  background-color: map-get($theme-colors, "danger");
}
*/
// BOOTSTRAP Theme
$theme-default: (
  'primary': #0e3355, //$mat-blue-custom, 900
  'primary-light': #456db3,
  'secondary': #054605, // $mat-green-custom, 900
  'secondary-light': #FBE5D6,
  'gray': #C7C7C7,
  'gray-light': #767171,
  'gray-dark': #262626,
  'danger': #b71c1c,
  'white': #ffffff,
  'blue-light': #DAE3F3,
  'fern-green': #33691E
);

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$default-font: Roboto, 'Helvetica Neue', sans-serif;
$form-title-font: 'Raleway', sans-serif;
$form-field-font: 'Raleway', sans-serif;
$form-label-font: 'Raleway', sans-serif;
$menu-font: 'Raleway', sans-serif;
$header-title-font: 'Raleway', sans-serif;
$footer-font: 'Raleway', sans-serif;
$logo-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


$mat-blue-custom: (
  50: #A4A1B5,
  100: #8B88A0,
  200: #726F8B,
  300: #595674,
  400: #40335F,
  500: #09243D,
  600: #081F39,
  700: #061A34,
  800: #04152F,
  900: #0e3355, 
  A100: #7D7A8E,
  A200: #645B79,
  A400: #4B475F,
  A700: #120524,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-green-custom: (
  50: #B4C9A6,
  100: #9BB591,
  200: #82A17C,
  300: #699B67,
  400: #508652,
  500: #37713D,
  600: #2E6536,
  700: #255930,
  800: #1C4D29,
  900: #054605, 
  A100: #90AD80,
  A200: #739265,
  A400: #56784A,
  A700: #284D02,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);