<div class="container-initial" style="
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  ">
  <div class="card-divitions row justify-content-around align-items-center w-75"
    style="border-style: none; background-color: white; padding: 20px; border-radius: 10px;">
    <img class="img-movil col-md-auto col-12 px-2"
      src="../../../assets/img/LOGO PARA HEAD PNG.jpeg" alt="" />

    <div class="form col-12 col-md-6 col-lg-5">
      <div class="title">
        <form #myRestoreForm="ngForm" [formGroup]="restoreForm">
          <div class="row justify-content-center" style="margin: 0">
            <div class="col-12 container-form">
              <h2 style="font-size: 16px; margin-bottom: 0px">Correo</h2>
              <mat-form-field class="col-12" appearance="outline">
                <input matInput appAutofocus placeholder="Correo" formControlName="email" type="text" required />
                <mat-error class="danger-color mb-1" *ngIf="
                  restoreForm.get('email')?.hasError('required') &&
                  restoreForm.get('email')?.touched
                ">
                  Este campo es obligatorio
                </mat-error>
                <mat-error class="danger-color" *ngIf="
                  restoreForm.get('email')?.hasError('email') &&
                  restoreForm.get('email')?.touched
                ">
                  Debe ser tipo email
                </mat-error>
              </mat-form-field>
            </div>

            <mat-error class="danger-color" *ngIf="emailNotFound">
              Ese correo no está registrado, intenta nuevamente
            </mat-error>

            <mat-label class="mb-1 pt-2 secondary-color">
              Por favor ingresa tu correo para recuperar la contraseña
            </mat-label>

            <div class="row justify-content-end">
              <button mat-raised-button class="col-12 mt-3" color="primary" (click)="restorePassword()">
                Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>