<div class="container-profile">
  <div class="card-container">
    <div class="title-form">
      <h1>Mi perfil</h1>
    </div>

    <div class="form-active" *ngIf="this.mode !== 'table'">
      <div *ngIf="profileForm">
        <div *ngIf="formPassword">
          <form #myFormPassword="ngForm" [formGroup]="formPassword">
            <div class="row justify-content-right" style="margin: 0">
              <div
                class="col-12 col-sm-6 col-lg-4"
              >
                <mat-label
                  class="label-input"
                  >Contraseña
                </mat-label>
                <mat-form-field class="col-12 formOutline" appearance="outline">
                  <input
                    matInput
                    placeholder="Contraseña"
                    formControlName="password"
                    class="inputOutline"
                    required
                    type="text"
                    [disabled]="mode === 'view'"
                  />
                  <mat-error
                    *ngIf="
                      formPassword
                        .get('password')
                        ?.hasError('required') &&
                      formPassword.get('password')?.touched
                    "
                  >
                    Este campo es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                <button
                  mat-raised-button
                  class="col-12"
                  color="primary"
                  (click)="createPassword()"
                  type="submit"
                  [disabled]="mode === 'view'"
                >
                  Crear contraseña
                </button>
              </div>
            </div>
            <br>
            <br>
          </form>
        </div>
        <form #myProfileForm="ngForm" [formGroup]="profileForm">
          <div class="row justify-content-right" style="margin: 0">
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Nombre</mat-label
              >
              <mat-form-field class="col-12" appearance="outline">
                <input
                  matInput
                  appAutofocus
                  placeholder="Nombre"
                  formControlName="name"
                  type="text"
                  required
                  class="inputOutline"
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('name')
                      ?.hasError('required') &&
                    profileForm.get('name')?.touched
                  "
                >
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Apellido</mat-label
              >
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Apellido"
                  formControlName="lastName"
                  class="inputOutline"
                  required
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('lastName')
                      ?.hasError('required') &&
                    profileForm.get('lastName')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Username</mat-label
              >
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Username"
                  formControlName="username"
                  class="inputOutline"
                  required
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('username')
                      ?.hasError('required') &&
                    profileForm.get('username')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div
              class="col-12 col-sm-6 col-lg-4"
            >
              <mat-label
                class="label-input"
                >Correo
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Correo"
                  formControlName="email"
                  class="inputOutline"
                  required
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('email')
                      ?.hasError('required') &&
                    profileForm.get('email')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
                <mat-error
                  *ngIf="
                    profileForm
                      .get('email')
                      ?.hasError('email') &&
                    profileForm.get('email')?.touched
                  "
                >
                  Debes escribir un correo electrónico válido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Cumpleaños</mat-label
              >
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Cumpleaños"
                  formControlName="birthDay"
                  class="inputOutline"
                  required
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="
                    profileForm
                      .get('birthDay')
                      ?.hasError('required') &&
                    profileForm.get('birthDay')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Dirección
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Dirección"
                  formControlName="address"
                  class="inputOutline"
                  required
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('address')
                      ?.hasError('required') &&
                    profileForm.get('address')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >País
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="País"
                  formControlName="country"
                  class="inputOutline"
                  required
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('country')
                      ?.hasError('required') &&
                    profileForm.get('country')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Region
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Region"
                  formControlName="stateDpto"
                  class="inputOutline"
                  required
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('stateDpto')
                      ?.hasError('required') &&
                    profileForm.get('stateDpto')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Ciudad
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Ciudad"
                  formControlName="city"
                  class="inputOutline"
                  required
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('city')
                      ?.hasError('required') &&
                    profileForm.get('city')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Código Postal
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Código Postal"
                  formControlName="postalCode"
                  class="inputOutline"
                  required
                  type="number"
                />
                <mat-error
                  *ngIf="
                    profileForm
                      .get('postalCode')
                      ?.hasError('required') &&
                    profileForm.get('postalCode')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-12 col-sm-6 col-lg-4">
              <mat-label
                class="label-input"
                >Perfil
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <mat-select
                  #profile
                  matNativeControl
                  formControlName="profile"
                  required
                  class="inputOutline"
                  (selectionChange)="select($event)"
                >
                  <mat-option
                    *ngFor="let profile of profileList"
                    [value]="profile.key"
                  >
                    {{ profile.role }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    profileForm
                      .get('profile')
                      ?.hasError('required') &&
                    profileForm.get('profile')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
  
            <div
              class="col-12 col-sm-6 col-lg-4"
            >
              <mat-label
                class="label-input"
                >Contraseña
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Contraseña"
                  formControlName="password"
                  class="inputOutline"
                  required
                  [type]="hideRegister ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hideRegister = !hideRegister"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideRegister"
                  [disabled]="mode === 'view'"
                >
                  <mat-icon>{{
                    hideRegister ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="
                    profileForm
                      .get('password')
                      ?.hasError('required') &&
                    profileForm.get('password')?.touched
                  "
                >
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Campos para saldos -->
            <!-- <div class="col-12 col-sm-6 col-lg-4" *ngFor="let balance of balances">
              <mat-label
                class="label-input"
                >Saldo en {{balance.account_type}}
              </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  class="inputOutline"
                  type="text"
                  value="{{balance.wallet}}"
                  disabled
                />
              </mat-form-field>
            </div> -->

            <div class="container-button-form">
              <button mat-raised-button class="col-12 col-sm-6 col-lg-4 col-sm-6 col-md-6" color="primary"
                (click)="editForm()" *ngIf="mode==='view'">
                <mat-icon>edit</mat-icon>
                Editar
              </button>
              <button mat-raised-button class="col-12 col-sm-6 col-lg-4 col-sm-6 col-md-6" color="primary"
                (click)="sendForm()" type="submit" *ngIf="mode==='edit'">
                <mat-icon>send</mat-icon>
                Enviar
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>
