<div class="container-dialog">
  <h1>Asignar Paquete</h1>
  <div class="container-description">
    <div *ngIf="packageForm">
      <form #myFormPassword="ngForm" [formGroup]="packageForm" class="row">
        <div class="col-12 col-sm-5">
          <mat-label class="label-input">Paquete
          </mat-label>
          <mat-form-field class="col-12 formOutline" appearance="outline">
            <mat-select #profile matNativeControl formControlName="package" required class="inputOutline"
              (selectionChange)="select($event)">
              <mat-option *ngFor="let package of listPackages" [value]="package.name">
                {{ package.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                packageForm
                  .get('package')
                  ?.hasError('required') &&
                  packageForm.get('package')?.touched
              ">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-5">
          <mat-label class="label-input">Tipo de cuenta
          </mat-label>
          <mat-form-field class="col-12 formOutline" appearance="outline">
            <mat-select #account matNativeControl formControlName="account" required class="inputOutline"
              (selectionChange)="selectAccount($event)">
              <mat-option *ngFor="let account of listAccounts" [value]="account.name">
                {{ account.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                packageForm
                  .get('account')
                  ?.hasError('required') &&
                  packageForm.get('account')?.touched
              ">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-5">
          <mat-label class="label-input">Valor
          </mat-label>
          <mat-form-field class="col-12 formOutline" appearance="outline">
            <input matInput placeholder="Valor" formControlName="value" class="inputOutline" required type="text" mask="separator.2" thousandSeparator="." [leadZero]="true"/>
            <mat-error *ngIf="
                    packageForm
                      .get('value')
                      ?.hasError('required') &&
                      packageForm.get('value')?.touched
                  ">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-5">
          <mat-label class="label-input">Voucher
          </mat-label>
          <mat-form-field class="col-12 formOutline" appearance="outline">
            <input matInput placeholder="Voucher" formControlName="voucher" class="inputOutline" type='text'/>
            <mat-error *ngIf="
                    packageForm
                      .get('voucher')
                      ?.hasError('required') &&
                      packageForm.get('voucher')?.touched
                  ">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <button mat-raised-button color="primary" (click)="onEnviarClick()" style="width: 100%;">
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>