@import "../../../themes/theme.scss";

.container-menu-list {
    width: 300px;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($theme-default, "primary");
    overflow-x: hidden;

    .container-button {
        width: 100%;
        color: map-get($theme-default, "white");
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 19px;
        margin-bottom: 12px;

        .container-name{
            margin-top: 5px;
            margin-left: 10px;
        }
    }

    .container-items {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: 100%;

        .items {
            width: 100%;
            padding: 5px 20px;
            color: map-get($theme-default, "white");
            margin-bottom: 10px;

            .item {
                width: 100%;
                display: flex;

                .item-box{
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 19px;
                    align-items: center;
                    margin-bottom: 7px;

                    .icon {
                        width: 45px;
                        height: 45px;
                        font-size: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
    
                    .text {
                        flex: 1;
                        text-align: left;
                        margin-left: 10px;
                        font-size: 18px;
                    }
                }
            }
            &:hover {
                background-color: black;
            }


            .select {
                .item {
                    color: map-get($theme-default, "primary-light");

                    .icon {
                        border-bottom: 2px solid map-get($theme-default, "primary-light");
                    }
                }
            }
        }
    }
}

.mobile{
    width: 260px;
}